<style>
       @import url('https://fonts.googleapis.com/css?family=Quicksand:500');

       div.bb {background-color: #e0e0eb;
               border-left: 15px solid #cc6699;
               margin: -0.5em;
               padding: 1em 0.5em 1em 1em;
               font-family: 'Quicksand', sans-serif;
               font-size: 14px;
               }

       pre.bb {padding: 1em;
               margin-bottom: 0px;
               margin-right: 500px;
               border: 1px solid #cc6699;
               }

       ol.bb { counter-reset: item }
       li.bb { display: block }
       li.bb:before {content: counters(item, ".") ". ";
                     counter-increment: item;
                     font-weight: bold;}

       h1.bbh, h2.bbh, h3.bbh {margin-top: 10px}

       a:link.up_button {padding: 3px;
                         border: 2px solid;
                         border-radius: 4px;
                         background-color: #e0e0eb;
                         margin: 3px 0px 0px 0px;
                         text-align: center;
                         text-decoration: none;
                         display: inline-block;
                         font-weight: bold;
                         font-size: 10px;
                        }

       a:link.toc {text-decoration:none;}

       #notebook-container {
                            padding: 5px;
                            background-color: #ffffff;
                            min-height: 0;
                            -webkit-box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.3);
                            box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.3);
                            }
      .notebook_app {
                     background-color: #f0f0f0;
                     }
</style>
